@import url("https://fonts.google.com/specimen/Baloo?selection.family=Baloo");

* {
  box-sizing: border-box;
}

.col-xl-1 {width: 8.33%;}
.col-xl-2 {width: 16.66%;}
.col-xl-3 {width: 25%;}
.col-xl-4 {width: 33.33%;}
.col-xl-5 {width: 41.66%;}
.col-xl-6 {width: 50%;}
.col-xl-7 {width: 58.33%;}
.col-xl-8 {width: 66.66%;}
.col-xl-9 {width: 75%;}
.col-xl-10 {width: 83.33%;}
.col-xl-11 {width: 91.66%;}
.col-xl-12 {width: 100%;}

[class*="col-xl-"] {
    margin:inherit;
    display: flex;
	  justify-content: center;
    align-items: center;
    border: 2pt  solid #606060;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    vertical-align: middle;
    margin: 15px;
}

p{
  font-family: 'Baloo',cursive;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.center-xl{
  margin: auto;
  width: 25%
}

div#color1{
  background-color: #f7fade;
}

div#color2{
  background-color: #dfedd6;
}
